header {
    background: radial-gradient(circle, #fdcbf1, #e6dee9);
    z-index: 100;
    top: 0;
    position: sticky;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            box-align: center;
            width: 60%;

            .menu a {
                font-size: 16px;
                color: #bc8b4a;
                text-decoration: none;

                &:hover {
                    color: #e83e8c;
                }
            }
        }

        .logo {
            width: 120px;
        }

        .carrito {
            width: 70px;
        }
    }
}