main {
	padding: 20px;

	}

/* productos destacados */
.productos-destacados {
    text-align: center;
}

.selection-destacados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.destacados_ejemplo {
    margin: 15px;
    padding: 15px;
    border: 3px solid #f6d5e4;
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        padding-bottom: 10px;
        border-radius: 50%;
    }

    p {
        flex-grow: 1;
    }

    .sale {
        background-color: rgb(184, 83, 154);
        padding: 3px;
        color: white;
        right: 5px;
        position: absolute;
        top: 10px;
        width: fit-content;
        border-radius: 20%;
        box-shadow: 1px 1px 1px black;
    }
}

/* estilos copy */
p {
    font-size: 12px;
    color: black;
    display: block;
}

.precio {
    color: #e83e8c;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}

h1 {
    font-size: 30px;
    color: #bc8b4a;
}

h2 {
    font-size: 22px;
    color: #e83e8c;
    margin-bottom: 5px;
}

h3 {
    font-size: 16px;
    color: black;
    padding-bottom: 10px;
}
