@media screen and (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
  }

  html {
    margin: 0;
    padding: 0;
  }

  .destacados_ejemplo {
    margin: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;

    .logo {
      width: 80px !important;
    }

    .logo-container {
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 18px;
    }

    .carrito {
      margin-top: 10px;
    }
  }


  ul {
    width: 100% !important;
    text-align: center;
  }

  .mapa-envios iframe {
    width: 100%;
    padding-top: 10px;
  }

  #grid_productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr 0.2fr;
    grid-template-areas:
      "titulo ."
      "producto_1 producto_2"
      "producto_3 producto_4";

    .producto_1 {
      font-weight: 700;
      padding: 10px 10px 2px 10px;
    }

    .producto_2 {
      font-weight: 700;
      padding: 10px 10px 2px 10px;
    }

    .producto_3 {
      font-weight: 700;
      padding: 10px 10px 2px 10px;
    }

    .producto_4 {
      font-weight: 700;
      padding: 10px 10px 2px 10px;
    }

    .producto_5 {
      display: none;
    }

    .producto_6 {
      display: none;
    }

  }

}


@media only screen and (max-width: 576px) {
  ul {
    flex-direction: column;
  }

  .nosotras_descripcion {
    img {
      width: 150px;
      margin: 0 auto;
      display: block;
      padding-bottom: 20px;
    }
  }

  #grid_productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.2fr;
    grid-template-areas:
      "titulo"
      "producto_1"
      "producto_2"
      "producto_3"
      "producto_4";
    margin: 0;

    .grid_busqueda {
      grid-area: titulo;
      align-items: center;
      padding: 10px;

      label {
        font-weight: bold;
        font-size: 14px;
        padding-right: 10px;
      }
    }
  }

  .section-envio {
    display: flex;

    h2 {
      text-align: center;
    }
  }

  .title_detalle {
    padding-bottom: 10px;
  }

  #grid_carrito {
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(8, 0.5fr);
    grid-template-areas:
    "compra"
    "txt1"
    "txt2"
    "txt3"
    "txt4"
    "txt5"
    "txt6"
    "txt7";
  }

  .producto_pedido {
    grid-area: compra;
    align-items: center;
    justify-content: center;
  }

  .producto_nombre {
    grid-area: txt1;

    h2 {
      font-size: 18px;
    }
  }

  .producto_precio {
    grid-area: txt2;
  }

  .producto_cantidad {
    grid-area: txt3;
  }

  .producto_envio {
    grid-area: txt4;

    h3 {
      padding-top: 10px;
    }
  }

  .producto_pago {
    grid-area: txt5;
  }

  .producto_comentario {
    grid-area: txt6;
  }

  .producto_botones {
    grid-area: txt7;
  }
}
